.aboutBackground {
    color: white;
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    align-items: center;
}

.aboutContainer {
    width: 33%;
    height: 100%;
    margin: auto;
}

p {
    padding-bottom: 15px;
    word-spacing: 0px;
    line-height: 1.5;
}