.sidebar {
    flex: 1;
    padding-top: 118px;
    padding-bottom: 30px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.sidebarContainer {
    width: 250px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.sidebarItem {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebarTitle {
    /*margin: 10px;
    padding: 5px;*/
    width: 100%;
    font-family: 'Prompt', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 10px;
}

.sidebarItem > img {
    width: 200px;
    /*margin-top: 15px;*/
}

.sidebarList {
    list-style: none;
    margin-bottom: 30px;
    padding-left: 0px;
}

.sidebarCategory {
    display: inline-block;
    cursor: pointer;
    padding-left: 15px;
}

.sidebarListItem {
    cursor: pointer;
    padding-left: 15px;
}
