.post {
    width: 950px;
    margin: 0px 0px 20px 0px;
    flex-direction: row;
    justify-content: flex-start;
    display: flex;
}

.postImgContainer {
    width: 33%;

}

.postImg {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.postInfo {
    width: 66%;
    display: flex;
    flex-direction: column;
    padding-right: 25px;
}

.postCats {
    height: 20px;
    margin-bottom: 10px;
}

.postCat {
    /*font-size: 16px;*/
    line-height: 20px;
    margin-top: 15px;
    cursor: pointer;
    text-transform: uppercase;
}

.postTitle {
    font-family: 'Overpass', sans-serif;
    font-size: 36px;
    font-weight: 700;
    cursor: pointer;
}

.horizontalContainer {
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
}

.postUsernameContainer {
    display: flex;
    flex-direction: row;
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}

.postUsername {
    margin-left: 5px;
}

.postDate {
    /*font-size: 13px;*/
    color: #999;
    text-transform: uppercase;
    margin-top: 4px;
}

.postDesc {
    /*font-size: 14px;*/
    font-style: italic;
    color: #444;
    line-height: 24px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    
}